:root{
    --main-color:#272142;
--first-font-family:'Poppins', sans-serif;
--second-font-family: 'Playfair Display', serif;
   --btn-color:#6C63FF; }


.hero{
    background-color: #F9F7FE;
     text-align: center;
     padding: 160px 20px;
}

.hero h1{
    
    font-weight: bold;
    font-size: 96px;
    font-family: var(--second-font-family);
    line-height: 1.5;
}

.hero p{
     font-family: var(--first-font-family);
     font-size: 36px;
     font-weight: bold;  
     margin: 0; 
     color:var(--main-color);  
}

.hero h2{
    font-family: var(--first-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 2;
    color:var(--main-color);  
}
.btn-contact{
    background:var(--btn-color);
border-radius: 4px;
color:#fff ;
text-decoration: none;
padding: 15px 30px;
font-size: 18px;
line-height: 27px;
font-family: var(--first-font-family) ;
}
h2{
    font-size: 64px;
}
p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.btn-outline{
     background:#fff;
border-radius: 4px;
color:var(--btn-color) ;
text-decoration: none;
padding: 15px 30px;
font-size: 18px;
line-height: 27px;
font-family: var(--first-font-family) ;
border:solid #6C63FF 1px;
}
.project-description{
   padding: 120px 60px; 
}
@media (max-width:900px){
   .project-description{
   padding: 0; 
   text-align: center;   
   } 
   h1{
       font-size: 44px;
       line-height: 1.5;
   }
   h2{
       font-size: 44px;
   }

   .hero{
   
     padding: 80px 20px;
}
}