:root{
    --main-color:#272142;
--first-font-family:'Poppins', sans-serif;
--second-font-family: 'Playfair Display', serif;
   --branding-colour:#6C63FF; 
   --background-colour:#F9F7FE;
}
.logo{
    max-height: 40px;
}
nav{
  padding: 20px 0;  
}
nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    display: inline;
    list-style: none;
    line-height: 42px;
margin-left: 15px;
font-family: var(--first-font-family);
font-weight: bold;
}
nav a{
text-decoration: none;
color: #272142;
transition: all 10ms ease-in-out;
}

nav a:hover,
 nav li.active a{
   color: var(--branding-colour);
}
.hero{
    background-color: var(--background-colour);
     text-align: center;
     padding: 80px 20px;
}

.content-container{
    padding: 60px 20px;
}
.content{
    margin: 30px;
}

.hero h1{
    
    font-weight: bold;
    font-size: 96px;
    font-family: var(--second-font-family);
    line-height: 1.5;
}

.hero p{
     font-family: var(--first-font-family);
     font-size: 36px;
     font-weight: bold;  
     margin: 0; 
     color:var(--main-color);  
}

.hero h2{
    font-family: var(--first-font-family);
    font-size: 24px;
    font-weight: normal;
    line-height: 2;
    color:var(--main-color);  
}
.content h1{
    font-size: 64px;
    line-height: 80px;
    font-family: var(--second-font-family);
}
.content h2{
    font-size: 18px;
    font-family: var(--first-font-family);
} 
.content h3{
font-size: 24px;
font-family: var(--first-font-family);
line-height: 1.5;
margin: 20px 0 0;
font-weight: bold;
}
.content p{
    
    font-size: 14px;
}
h2{
    font-size: 64px;
    font-family: var(--second-font-family);
}
p{
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
}

.project-description{
   padding: 120px 60px; 
}


.btn-contact{
    background:var(--branding-colour);
border-radius: 4px;
color:#fff ;
text-decoration: none;
padding: 15px 30px;
font-size: 18px;
line-height: 27px;
font-family: var(--first-font-family);
transition:all 125ms ease-in-out;
}
.btn-outline{
     background:#fff;
border-radius: 4px;
color:var(--branding-colour) ;
text-decoration: none;
padding: 15px 30px;
font-size: 18px;
line-height: 27px;
font-family: var(--first-font-family) ;
border:solid 1px var(--branding-colour);
transition:all 125ms ease-in-out;
}

.btn-outline:hover{
    color: var(--branding-colour);
    font-weight: bolder;
    border:2px solid var(--branding-colour);
}

.btn-contact:hover{
color:var(--branding-colour);
font-weight: bolder;
background-color: #fff;
border:solid 2px var(--branding-colour);
} 
footer{
    margin: 60px 0;
}
footer .contact-box{
    background-color: var(--background-colour);
    padding: 30px 120px;
    border-radius: 10px;
}
footer .contact-box p{
margin: 0;
}
footer h4{
    font-size: 48px;
}

footer .email-link{
text-decoration: none;
color: #000;
font-size: 24px;

}
footer .email-link:hover{
 color: var(--branding-colour);   
}
footer .social-links a{
margin: 0 20px;
color: var(--branding-colour);
background-color: var(--background-colour);
padding: 10px 14px;
font-size: 18px;
border-radius: 50%;
transition:all 100ms ease-in-out;
}
footer .social-links a:hover{
  color: #fff;
  background-color: var(--branding-colour);
}
footer .coded a{
    color: #000;
}

@media (max-width:900px){
   .project-description{
   padding: 0; 
   text-align: center;   
   } 
  .hero h1{
       font-size: 44px;
       line-height: 1.5;
   }
   h2{
       font-size: 44px;
   }

.content-container{
    text-align: center;
    padding: 0;
}
}
